name: Build Bluefin LTS GDX

on:

  push:
    branches:
      - testing
  schedule:
    - cron: "0 17 * * TUE" # Every Tuesday at 5pm UTC
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/reusable-build-image.yml
    secrets: inherit
    with:
      image-name: bluefin-gdx
      flavor: gdx
      rechunk: ${{ github.event_name != 'pull_request' }}
      sbom: ${{ github.event_name != 'pull_request' }}
      publish: ${{ github.event_name != 'pull_request' }}
      tag-suffix: ${{ github.ref_name == 'testing' && '-testing' || '' }}
